---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Gigs from '../components/Gigs.astro';
import Podcast from '../components/Podcast.astro';
import Specials from '../components/Specials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Lewis Garnham | Stand-up Comedian, Actor & Podcast Host'>
  <div id='top'></div>
  <Navbar />
  <Hero />
  <About />
  <Gigs />
  <Podcast />
  <Specials />
  <Footer />
</Layout>
