---
import Button from './Button.astro';
import Slideshow from './Slideshow.astro';
import Review from './Review.astro';
---

<section class='about'>
  <div class='container'>
    <div class='grid grid--2-col'>
      <div class='content content--col-2'>
        <div class='copy'>
          <h2 class='copy__title'>The Bits Between</h2>
          <p class='copy__body'>
            Lewis has amassed a huge online following. He has garnered 80,000
            Tiktok followers and 48,000 Instagram followers. Many of his videos
            have millions of views.
          </p>
          <p class='copy__body'>
            As an emerging screen actor, Lewis stars in 'Broken Elbow' an
            upcoming feature film (2026 release). He played a lead role in the
            acclaimed short ‘A Rose For Katrina’, which screened at Tribeca,
            Flickerfest, and St Kilda Film Festival. He also stars as Dev in
            'Accident' another short set for release later in 2025.
          </p>
          <p class='copy__body'>
            In 2022 Lewis had four short stories published in 'Split Bill' a
            book series by Somekind Press. He has also had satirical news
            articles published in The Shot - a popular online publication. Lewis
            hosts a weekly podcast called Stream of Contentedness which is an
            eclectic mix of comedy, cultural analysis and storytelling.
          </p>
        </div>
        <div class='h-span'>
          <Button
            class='border'
            text='lewgarnham'
            href='#'
            icon='/SVG/insta.svg'
          />
          <Button
            class='border'
            text='@lewgarnham'
            href='#'
            icon='/SVG/tiktok.svg'
          />
        </div>
      </div>
    </div>
  </div>
</section>
