---
import Button from './Button.astro';
---

<div class='gig'>
  <div class='gig__date'>
    <span>Aug 12</span>
  </div>
  <div class='gig__location'>
    <span>Manchester (UK)</span>
  </div>
  <div class='gig__copy'>Old, new, everything in between.</div>
  <div class='gig__btn'>
    <Button text='Tickets Available' href='#' class='primary' />
  </div>
</div>
