---
import Button from './Button.astro';
import Slideshow from './Slideshow.astro';
import Review from './Review.astro';
import Gig from './Gig.astro';
---

<section class='section--gigs'>
  <div class='container'>
    <div class='content'>
      <div class='copy'>
        <h2 class='copy__title'>Upcoming Live Shows</h2>
      </div>
      <div class='gigs'>
        <Gig />
        <Gig />
        <Gig />
      </div>
    </div>
  </div>
</section>
