---
import Button from './Button.astro';
import Scene from './r3f/Scene.tsx';
---

<section class='section section--hero'>
  <div class='hero'>
    <div class='container'>
      <div class='grid grid--hero'>
        <div class='content'>
          <div class='copy'>
            <h1 class='copy__title'>
              There are few comedic voices as distinctive and exciting as Lewis
              Garnham.
            </h1>
            <p class='copy__body'>
              After reaching the Melbourne International Comedy Festival RAW
              Comedy National Final in 2016, Lewis has continued to captivate
              audiences worldwide.
            </p>
            <p class='copy__body'>
              His potent stand-up blends storytelling, social commentary, and
              introspective observations, all delivered with a laconic,
              self-assured stage presence.
            </p>
            <Button
              text='Upcoming shows'
              class='btn btn--primary btn--border'
              href='#shows'
            />
          </div>
        </div>
      </div>
    </div>
    <Scene client:load />
  </div>
</section>
