---

---

<div class='nav-wrapper'>
  <div class='container'>
    <div class='nav'>
      <div class='logo'>
        <img class='logo__img' alt='Lewis Garnham' src='/SVG/logo.svg' />
      </div>
      <nav>
        <div class='nav__links'>
          <a href='#about' class='nav__link'> About</a>
          <a href='#shows' class='nav__link'> Shows</a>
          <a href='#podcast' class='nav__link'> Podcast</a>
        </div>
        <a href='#contact' class='nav__link nav__link--alone'> Contact</a>
      </nav>
    </div>
  </div>
</div>
