---
import Button from './Button.astro';
import { getPodcasts } from '../utils/sanity';

const podcasts = await getPodcasts();
const latestPodcast = podcasts[0];
---

<section id='podcast' class='section--podcast'>
  <div class='container'>
    <div class='podcast_wrapper'>
      <div class='content'>
        <div class='copy'>
          <div class='copy__header'>
            <h1 class='copy__toptitle'>Podcast</h1>
            <h2 class='copy__midtitle'>Stream of Contentedness</h2>
            <h3 class='copy__subtitle'>with Lewis Garnham</h3>
          </div>
          <p class='copy__body copy__body--white'>
            Lewis Garnham meanders through the contents of his brain - culture,
            art, politics, philosophy, and storytelling - all delivered in a
            stream-of-consciousness style that’s as comforting as it is
            surprising.
          </p>
        </div>
      </div>
      <div class='podcast'>
        <img
          class='podcast__cover'
          src='/images/podcast_cover.jpg'
          alt='Stream of Contentedness'
        />
        <div class='podcast__content'>
          <h5 class='podcast__subtitle'>Latest Episode</h5>
          <h4 class='podcast__title'>
            {latestPodcast?.title || 'Coming Soon'}
          </h4>
          <p class='podcast__body'>
            {latestPodcast?.description || 'New episodes coming soon!'}
          </p>
          <div class='podcast__buttons'>
            <Button
              class='spotify'
              icon='/SVG/spotify.svg'
              text='Listen on Spotify'
              href='https://open.spotify.com/show/6AAXFb5wNzSZwrOGx8tUsY'
              target='_blank'
            />
            <Button
              class='apple'
              icon='/SVG/apple.svg'
              text='Listen on Apple'
              href='https://podcasts.apple.com/au/podcast/stream-of-contentedness-with-lewis-garnham/id1779506603'
              target='_blank'
            />
          </div>
        </div>
      </div>
      <img
        class='podcast__decoration'
        src='SVG/head.svg'
        alt='Lewis as a cartoon smoking'
      />
    </div>
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener('DOMContentLoaded', () => {
    const podcastDecoration = document.querySelector('.podcast__decoration');

    if (podcastDecoration) {
      gsap.to(podcastDecoration, {
        top: '-34px',
        duration: 1,
        ease: 'power2.out',
        scrollTrigger: {
          trigger: '.section--podcast',
          start: 'top bottom',
          end: 'center top',
          scrub: 1,
        },
      });
    }
  });
</script>
