---
import Button from './Button.astro';
import Slideshow from './Slideshow.astro';
import Review from './Review.astro';
import Gig from './Gig.astro';
---

<section class='section--podcast'>
  <div class='container'>
    <div class='grid grid--podcast'>
      <div class='content'>
        <div class='copy'>
          <div class='copy__header'>
            <h1 class='copy__toptitle'>Podcast</h1>
            <h2 class='copy__midtitle'>Stream of Contentedness</h2>
            <h3 class='copy__subtitle'>with Lewis Garnham</h3>
          </div>
          <p class='copy__body copy__body--white'>
            Lewis Garnham meanders through the contents of his brain - culture,
            art, politics, philosophy, and storytelling—all delivered in a
            stream-of-consciousness style that’s as comforting as it is
            surprising.
          </p>
        </div>
      </div>
      <img
        class='podcast__decoration'
        src='SVG/head.svg'
        alt='Lewis as a cartoon smoking'
      />
    </div>
  </div>
</section>
