---

---

<div class='review'>
  <div class='review__header'>
    <div class='review__stars'>
      <img class='review__star' src='/SVG/star2.svg' alt='Star' />
      <img class='review__star' src='/SVG/star2.svg' alt='Star' />
      <img class='review__star' src='/SVG/star2.svg' alt='Star' />
      <img class='review__star' src='/SVG/star2.svg' alt='Star' />
    </div>
    <h3 class='review__prod'>Artshub, 2025</h3>
  </div>
  <div class='review__body'>
    <p>
      Lewis' self produced 2025 tour sold out its entire runs in Perth,
      Adelaide, Melbourne, Sydney, Brisbane and Byron Bay.
    </p>
    <p>
      At the 2025 Melbourne International Comedy Festival, after his entire 22
      night season sold out, Lewis added 10 extra shows in bigger venues, which
      also entirely sold out.
    </p>
  </div>
</div>
