---
import Scene from './r3f/Scene';
import { getReviews } from '../utils/sanity';
import { toPlainText } from '@portabletext/toolkit';

const reviews = await getReviews();

const formattedReviews = reviews.map((review, index) => ({
  id: index + 1,
  title: review.title,
  text: toPlainText(review.text),
  starRating: review.starRating,
}));
---

<section class='section--reviews'>
  <Scene client:load reviews={formattedReviews} />
</section>
