section,
.section {
  padding: $section-padding 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
    pointer-events: none;
  }
  &--hero {
    padding-top: $nav-height;
    padding-bottom: 0;
  }

  &--podcast {
    background: $green;
  }
}

.about {
  background-image: url('/images/image4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  h2 {
    color: $yellow;
  }
}

main {
}

.container {
  width: 100%;
  max-width: $breakpoint-xl;
  padding: 0 $spacing-sm;
  margin: 0 auto;
}

footer {
}

.h-span {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  &--col-2 {
    grid-column: 2;
  }
}
// Nav

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  z-index: 10;
  background-image: url('/images/slide1.jpg');
  background-position-x: 20%;
  background-position-y: -50%; // Starting position
  background-repeat: no-repeat;
  background-size: cover;
  will-change: background-position; // Optimize for animations
  transition: transform 0.2s ease-out;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 2, 2, 0.6);
  }

  &.is-at-top {
    transform: translate(0px, 0%) !important;
  }

  .container {
    height: 100%;
  }
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: calc($spacing-lg + $spacing-md);
  padding: $spacing-sm 0;
  position: relative;
  height: 100%;

  .container {
    display: flex;
    width: 100%;
    gap: $spacing-md;
    font-weight: 500;
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  font-weight: 700;
  font-family: $font-heading;
  font-size: 2.8rem;
  color: white;
  text-transform: uppercase;
  transition: opacity 0.15s ease-in-out;

  &--alone {
  }

  &:hover {
    filter: brightness(150%);
    //exlcusion
    opacity: 0.7;
    color: white;
    text-shadow: 0 0 2px $dark;
  }
}

.nav__links {
  display: flex;
  gap: $spacing-lg;
}

.nav__location {
  position: absolute;
  top: 1rem;
  right: 0;
  text-transform: uppercase;
  font-family: $font-heading;
  font-weight: 400;
  color: rgba(white, 0.6);
  font-size: 1.5rem;

  .currently {
    color: rgba($beige, 0.8);
    font-weight: 600;
  }
}

.logo {
  width: 100%;
  max-width: 500px;
  max-height: 200px;
  height: 100%;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

// Hero

.copy {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: $spacing-md;
  }

  &__toptitle {
    color: #787a62;
    margin-bottom: $spacing-sm;
    font-size: 1.6rem;
    font-weight: 500;
  }
  &__midtitle {
    color: $beige;
    margin-bottom: 0.4rem;
  }
  &__subtitle {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__header {
    margin-bottom: $spacing-md;
  }

  &__body {
    &--white {
      color: white;
    }
  }
}

.hero {
  position: relative;
  display: flex;
  place-content: center;
  gap: $spacing-lg;
  overflow: hidden;
  color: white;

  h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    color: $yellow;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-lg;
    padding: 12.5rem 0;
    font-size: 1.8rem;
  }
}

$slideshow-width: 43%;

.slideshow {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: $slideshow-width;
  max-height: 100dvh;
  height: 100%;
  overflow: hidden;

  .slide {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.grid {
  display: grid;
  gap: $spacing-lg;
  &--2-col {
    grid-template-columns: 1fr 1fr;
  }
  &--hero {
    grid-template-columns: 1fr 0.7fr;

    .content {
    }
  }

  &--podcast {
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.2rem;
  }
}

.podcast_wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  position: relative;

  .content {
    width: 67%;
    min-width: 500px;
  }
}

.podcast {
  background: $beige;
  padding: $spacing-md;
  color: $text;
  border-radius: 1.2rem;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-gap: $spacing-md;
  border: 2px solid $dark;
  position: relative;
  z-index: 2;

  &__decoration {
    position: absolute;
    width: 260px;
    right: $spacing-lg;
    top: 245px;
    opacity: 0.6;
    z-index: 1;
  }

  &__cover {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    object-fit: cover;
    border: 2px solid $green;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
  }

  &__subtitle {
    color: #787a62;
    margin-bottom: 2.2rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $text;
    margin-bottom: 1.2rem;
  }

  &__body {
    color: $text;
    font-size: 1.8rem;
  }

  &__buttons {
    display: flex;
    gap: $spacing-sm;
  }
}

.specials {
  .copy {
    &__midtitle {
      color: $dark;
    }
  }
}

.grid--video {
  grid-template-columns: 1.5fr 1fr;
}

.yt-lite > .lty-playbtn {
  height: 100px !important;
  width: 100px !important;
  background-image: url('/SVG/play.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none !important;
  background-color: transparent !important;
  opacity: 0.8 !important;
  cursor: pointer !important;

  &:hover {
    opacity: 1 !important;
  }
}

.yt-lite > .lty-playbtn::before {
  border: none !important;
}
